
@{
    String usuario = Context.Session.GetString("username");
}

@if (usuario == null)
{
    <li class="nav-item active">
        <a class="nav-link text-primary"
           asp-action="LogIn"
           asp-controller="Home">
        Log In Usuario</a>
    </li>
}
else
{
    <li class="nav-item active">
        <a class="nav-link text-danger"
           asp-action="CloseSession"
           asp-controller="Home">
        Log Out @usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Comentarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Modificar Datos</a>
    </li>
}