<h1 style="color: blue">Log In de Usuario</h1>

<form method="post">
    @*<h3>Introduzca su nombre de usuario</h3>*@
    <label>Nombre de usuario: </label>
    <input type="text" name="username" class="form-control" />
    <button type="submit" class="btn btn-danger">Log In</button>
</form>
