<h1>Menú departamentos</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Departamentos"
           asp-action="PaginarVistaDeptRegistro">
           Paginar Vista Registro a Registro</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Departamentos"
           asp-action="PaginarVistaDeptGrupo">
            Paginar Vista por Grupos
        </a>
    </li>
</ul>