<h1>Menú Trabajadores</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Trabajadores"
           asp-action="PaginarGrupoTrabajadoresSQl">
            Paginar Grupo Trabajadores
        </a>
    </li>
    @*<li class="list-group-item">
        <a asp-controller="Departamentos"
           asp-action="PaginarVistaDeptGrupo">
            Paginar Vista por Grupos
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Departamentos"
           asp-action="PaginarRegistroDepartamentoSQL">
            Paginar Individual Departamento SQL
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Departamentos"
           asp-action="PaginarGrupoDepartamentosSQL">
            Paginar Departamentos SQL
        </a>*@
    </li>
</ul>